<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ISRS UI</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<section class="hero is-info">
  <div class="hero-body">
    <p class="title">
       ISRS UI 
    </p>
  </div>
</section>
<br>


<form class="form" action="{{ url_for('predict')}}" method="post">
    <h1 id="input ">Enter your keyword</h1>
    <input type="text" name="keyword" placeholder="keyword">
    <br>
    <br>
    <button id="submit" type="submit">Submit</button>
</form>

<div class= "table1">
  <table class="table">
    <thead>
      <tr>
        <th><abbr title="Position">Rank</abbr></th>
        <th>ID</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>1</th>
        <td><a href="#" title="#"></a>{{ID}}<strong></strong></td>
        <td><a href="#" title="#"></a></td>
      </tr>
      <tr>
        <th>2</th>
        <td><a href="#" title="#"></a> <strong></strong></td>
        <td><a href="#" title="#"></a></td>
      </tr>
      <tr>
        <th>3</th>
        <td><a href="#" title="#"></a> <strong></strong></td>
        <td><a href="#" title="#"></a></td>
      </tr>
      <tr>
        <th>4</th>
        <td><a href="#" title="#"></a> <strong></strong></td>
        <td><a href="#" title="#"></a></td>
      </tr>
      <tr>
        <th>5</th>
        <td><a href="#" title="#"></a> <strong></strong></td>
        <td><a href="#" title="#"></a></td>
      </tr>
    </tbody>
  </table>
</div>

<br>
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>ISRS </strong> by <a href="#">Harish</a> <br>
      Copyright © 2020 ISRS. All Rights Reserved.
    </p>
  </div>
</footer>
</body>
</html>